<title>tfsoa <%= @state_detail.tfstate.unique_tf_state %> #<%= @state_detail.id %></title>

<h2><%= @state_detail.tfstate.unique_tf_state %> #<%= @state_detail.id %></h2>

<div class="row">
  <div class="span8">
    <table class="table table-bordered">
      <% attrs = @state_detail.attributes ; attrs.delete('state_json') ; attrs.delete('digraph')  %>
      <tr>
        <% attrs.keys.each do |key| %>
          <th><%= key %></th>
        <% end %>
      </tr>
      <tr>
        <% attrs.values.each do |value| %>
          <td><%= value %></td>
        <% end %>
      </tr>
    </table>
  </div>
</div>

<% if @state_detail.digraph %>
  <h4><a href=<%= "/render_graph/#{@state_detail.id}"%>>Graph</a></h4>
<% end %>
