<h2><%= @state.unique_tf_state %></h2>

<% if @state_diagram %>
  <img src="/public/<%= "#{@state.unique_tf_state}_#{@state.state_details.last.id}.png" %>" />
<% end %>

<ul>
  <% @state.state_details.each do |state_detail| %>
    <li>
      <a href=<%= "/tfsoa/show_state/#{state_detail.id}" %>>
        <%= state_detail.created_at %>
      </a>&nbsp;&nbsp;&nbsp;
      <a href=<%= "/tfsoa/download_state/#{state_detail.id}" %>>
        Download
      </a>
    </li>
  <% end %>
</ul>
