<title>tfsoa <%= @state.unique_tf_state %></title>
<h2><%= @state.unique_tf_state %></h2>

<ul>
  <% @state.state_details.reverse.each do |state_detail| %>
    <li>
      <a href=<%= "/tfsoa/show_state/#{state_detail.id}" %>>
        <%= state_detail.created_at %>
      </a>&nbsp;&nbsp;&nbsp;
      <a href=<%= "/tfsoa/download_state/#{state_detail.id}" %>>
        Download
      </a>
    </li>
  <% end %>
</ul>
